{% extends "base.html" %}
{% block title %}소리가 담긴 타임머신 - 소개{% endblock %}

{% block content %}
<div class="title-wrapper" id="titleWrapper">
    <img src="{{ url_for('static', filename='assets/title_image.png') }}" alt="타이틀 이미지" class="title-image">
    <div class="title">소리가 담긴 타임머신</div>
</div>

<div class="intro-wrapper">
    <div class="intro-section">
        <div class="photo" style="background-image:url('{{ url_for('static', filename='assets/your_photo.png') }}');"></div>
        <div class="chapter-text">
            과거의 기억<br>
            호 : 小據 소거<br>
            이름 : ???<br>
        </div>
    </div>

    <div class="intro-section">
        <div class="photo" style="background-image:url('{{ url_for('static', filename='assets/your_photo.png') }}');"></div>
        <div class="chapter-text">
            현재의 기억<br>
            이름 : 쇼커<br>
            
        </div>
    </div>

    <div class="intro-section">
        <div class="photo" style="background-image:url('{{ url_for('static', filename='assets/your_photo.png') }}');"></div>
        <div class="chapter-text">
            생년월일 : 1414년 03월 15일 (太宗 14)<br>
            
        </div>
    </div>
</div>
{% endblock %}
